name: tests

on:
  pull_request:
    branches: [master, develop]

  push:
    branches: [master, develop]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout changes
      uses: actions/checkout@v2

    - uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        pip install "cython<3.0.0" setuptools
        find frameworks | grep requirements.txt | xargs -n 1 pip install -r
        pip install pytest pytest-aio asgi-tools

    - name: Test with pytest
      run: |
        pytest frameworks
